<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Structure</title>
    <link rel="stylesheet" href="/script/index.css"></link>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/template/index.html">Home</a></li>
            <li><a href="/template/stack.html">Stack</a></li>
            <li><a href="/template/queue.html">Queue</a></li>
        </ul>
    </nav>
    <main>
        <div class="intro">
            <h1>Data Structures</h1>
            <p>A data structure is a specialized format for organizing, processing, and storing data. It is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.</p>
            <h2>Stack</h2>
            <p>A stack is a linear data structure that follows the Last-In-First-Out (LIFO) principle. This means that the last element added to the stack will be the first one to be removed. The main operations performed on a stack are push (add an element to the top), pop (remove an element from the top), and peek or top (get the top element without removing it).</p>
            <h2>Queue</h2>
            <p>A queue is a linear data structure that follows the First-In-First-Out (FIFO) principle. This means that the first element added to the queue will be the first one to be removed. The main operations performed on a queue are enqueue (add an element to the end), dequeue (remove an element from the front), and front or peek (get the front element without removing it).</p>
        </div>
        <div class="container">
            <p id = "f">Let see the detail how stack  and queue work or perform operation like push,pop,queue or dequeue.</p>
            <a href="/template/stack.html">Stack</a>
            <a href="/template/queue.html">Queue</a>
        </div>
    </main>
    <script src="index.js"></script>
</body>
</html>